@model Foundation.Features.Shared.Components.Dropdown.DropdownModel

<select name="@Model.Name"
        class="select-menu @Model.SelectorClassItem" @(Model.IsDisabled ? "disabled" : "")
        style="@(Model.IsShow ? "" : "display: none")">
    @foreach (var item in Model.List)
    {
        if (string.IsNullOrEmpty(Model.SelectedValue) || !Model.SelectedValue.Equals(item.Value))
        {
            <option value="@item.Value">
                @item.Key
            </option>
        }
        else
        {
            <option value="@item.Value" selected="selected">
                @item.Key
            </option>
        }
    }
</select>